.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.WeekColumns {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.week-day-column{
  padding-top: 10px;
}
.date{
  padding-bottom: 10px;
  cursor: pointer;
}
.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9998;
}
.popup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 9999;
  width: 600px;
  max-width: 600px;
  height: auto;
  padding: 20px 0;
}
.modal-wrapper {
  display: none;
}
.modal-wrapper.open {
  display: block;
}
.time-item, .seat-item{
  cursor: pointer;
  padding-bottom: 10px;
}
.seat-item.disabled, .time-item.disabled{
  opacity: 0.5;
}
.seat-item.selected{
  font-weight: 700;
}
.buttons-wrapper{
  display: flex;
  gap: 30px;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
